<div class='container'>
	<div class='row'>
		<div  class="col-md-8 col-sm-8">
			<h1> アーティスト一覧</h1>
			<table  class="table-hover table">
				<thead>
					<tr>
						<th>並び替え▼</th>
						<th>○○順</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>アーティスト写真</td>
						<td>アーティスト名</td>
						<td>アーティスト説明文</td>
						<td>編集</td>
						<td>削除</td>
					</tr>
					<tr>
						<td>アーティスト写真</td>
						<td>アーティスト名</td>
						<td>アーティスト説明文</td>
						<td>編集</td>
						<td>削除</td>
					</tr>
					<tr>
						<td>アーティスト写真</td>
						<td>アーティスト名</td>
						<td>アーティスト説明文</td>
						<td>編集</td>
						<td>削除</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div  class="col-md-4 col-sm-4">
			<h3> アーティスト登録</h3>

		</div>
	</div>
</div>

