<!DOCTYPE html>
<html>
  <head>
    <title>NILE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> マイページ　
<div> ユーザー名 </div>
<div> お気に入りアーティスト </div>
<div> 購入履歴 </div>

  </body>

  </html>