<h1>商品一覧</h1>
 <!-- link_to "商品詳細", items_path(items.id), class: ""  -->



<div class="blog-item clearfix">
      <a><%= image_tag('no_image100x100.jpg') %></a>
           <section class="blog-text">
             <h3 class="blog-text-headline">
               <a href="single.html">
                How to fight <br>
                desertification and <br>
                reverse climate change
               </a>
             </h3>
             <p class="blog-date">June 17, 2017 </p>
             <span class="category">Nature </span>
           </section>
         </div>