
<div class='container'>
	<div class='row'>
		<h1>商品詳細</h1>
		<div class="col-md-2">
			<a><%= image_tag('no_image100x100.jpg') %></a>
		</div>
		<div class="col-md-4">
			<p>シングル/アルバム名</p>
			<p>アーティスト名</p>
			<p>ジャンル</p>
			<p>価格</p>
			<p></p>
			<p></p>
			<p></p>
		</div>
		<div class="col-md-2">

　　　　　編集

		</div>
		<div class='col-md-4'>
			<h3> アーティストCD総合<br>いいねランキング</h3>
			<table  class="table-hover table">
				<tbody>
					<tr>
						<td>１</td>
						<td><%= image_tag('no_image50x50.jpg') %></td>
						<td>アーティスト名</td>
						<td><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>111</td>
						<td>ジャンル</td>
						<td>レーベル</td>
					</tr>
					<tr>
						<td>２</td>
						<td><%= image_tag('no_image50x50.jpg') %></td>
						<td>アーティスト名</td>
						<td><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>99</td>
						<td>ジャンル</td>
						<td>レーベル</td>
					</tr>
					<tr>
						<td>３</td>
						<td><%= image_tag('no_image50x50.jpg') %></td>
						<td>アーティスト名</td>
						<td><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>88</td>
						<td>ジャンル</td>
						<td>レーベル</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<!-- </div> -->