// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .col-md-4 {
 	background-color: #dff0d8;
 }
 .col-sm-4 {
 	background-color: #dff0d8;
 }
 .col-md-8 {
 	background-color: #d9edf7;
 }
 .col-sm-8 {
 	background-color: #d9edf7;
 }
 .box {
 margin : 0 40px;
 }
 .box2 {
 margin : 10px;
 border:1px;
 border-style:solid;
 border-color:#999;
 text-align: center;
 }