// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.update {
	font-size: 20px;
	color: green;
}
.alert {
	font-size: 14px;
	color: red;
}
.cart_item_box {
border-top: 6px dashed #add8e6;
border-bottom: 6px dashed #add8e6;
}
.price {
	color: red;
	font-size: 18px;
}