// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.update {
	font-size: 20px;
	color: green;
}
.alert {
	font-size: 14px;
	color: red;
}
.cart_item_box {
border-top: 6px dashed #add8e6;
border-bottom: 6px dashed #add8e6;
}
.price {
	color: red;
	font-size: 18px;
}
.register {
	margin: 0 auto;
	width: 500px;
}
.register-title {
	margin-top: 5px;
	font-size: 20px;
}
.register-delivery-box{
	border: solid;
    &:hover {
      background-color: #EEE;
    }
}
.radio-atena {
	margin-left: 6px;
}
.register-delivery-content{
	margin-left: 24px;
}
.register-footer {
	text-align: right;
}
.register-taxincl {
	color: red;
	font-size: 16px;
}
.btn-register {
	width: 120px;
}
.comfirm {
	width: 120px;
}
