// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




a {
	text-decoration: none;
	.black {
		color: black;
	}
	.yellow {
		color: red;
		background-color: yellow;
	}
}

 .item_contents_box {
 border:1px;
 border-style:solid;
 border-color:#999;
 width: 100%;
 float: right;
 padding: 10px;
 margin-bottom: 20px;
 }