// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-list {
	display: block;
	overflow-y: scroll;
	height: 500px;
}

.item-box{
	float: left;
}

