// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-list {
	display: block;
	overflow-y: scroll;
	height: 500px;
	width: 100%;
	margin: 40px;
	padding-bottom: 100px;
}

.item-box{
	float: left;
 	width: 200px;
 	// border: 1px solid #333333;
 	padding: 5px;
 	margin: 10px 10px 10px 30px;
}

.item-rank-list{
	display: block;
	overflow-y: scroll;
	height: 500px;
}
