// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.login_title {
	margin-top: 100px;
	text-align: center;
}
.users_signup {
	text-align: center;
}

.field {
	margin: 5px 0px 5px 0px;
}
.actions {
	margin: 5px 0px 50px 0px;
}




.users_show_left {
	background-color: pink;
	width: 20%;
	float: left;
}

.users_show_right {
	background-color: orange;
	width: 50%;
	float: left;
}

.mypage_upperright_right {
	background-color: pink;
	width: 30%;
	float: right;
}

.users_show_bottom {
	width: 100%;
	background-color: green;
}

.mypage_upperright_left {
	float: left
}

.mypage_upperright_right {
	float: left
}