// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.login_title {
	margin-top: 100px;
	text-align: center;
}
.users_signup {
	text-align: center;
}

.field {
	margin: 5px 0px 5px 0px;
}
.actions {
	margin: 5px 0px 50px 0px;
}




.users_show_left {
	width: 15%;
	float: left;
}

.users_show_right {
	width: 35%;
	float: left;
}

.users_show_right_right {
	width: 50%;
	float: left;
}

.users_show_bottom {
	width: 100%;
}
.purchase_histories {
	text-align: center;
}






 .panel-heading {
    cursor: pointer;
}
 .accordion-toggle a:after {
    font-family: 'Glyphicons Halflings';
    content:"\e113";
    float: right;
    color: inherit;
}
 .accordion-toggle a.collapsed:after {
    font-family: 'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: inherit;
}
.border {
	border-bottom: solid;
}

.favorite_artist_name {
	font-size: 22px;
}

.btn-user-show {
	width: 150px;
}