<!-- <!DOCTYPE html>
<html>

  <head>
    <title>NILE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="header">

    <div class="header_upper">

      <div class="header_logo"> <%= link_to "", items_path %> </div>

      <nav class="nav">
        <ul>

          <%# if admin_signed_in? %>
          <li class="li">
              <%#= link_to "アーティスト", artists_path %>
          </li>
          <li class="li">
              <%#= link_to "CD", items_path %>
          </li>
          <li class="li">
              <%#= link_to "購入履歴一覧", purchase_details_path %>
          </li>
          <li class="li">
              <%#= link_to "商品登録", new_item_path %>
          </li>
          <li class="li">
              <%#= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <li class="li">
            <%#= link_to "アーティスト管理", artists_path %>
          </li>
          <li class="li">
            <%#= link_to "商品管理", items_path %>
          </li>
          <li class="li">
            <%#= link_to "ユーザー一覧", users_path %>
          </li>
          <%# end %>

        </ul>
      </nav>

    </div>

    <div class=search_box>
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <form method="get" action="#" class="search_container">
        <input type="text" size="25" placeholder="アーティスト名・曲名">
        <input type="submit" value="&#xf002">
      </form>
    </div>

  </header>

  <%#= yield %>

      <footer class="footer">
        Copyright © Infratop Inc. All Rights Reserved.
      </footer>

  </body>

</html> -->